#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.calculator_container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #333533;
  width: 70vh;
  height: 94vh;
  border-radius: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
}

.display {
  width: 75%;
  height: 8%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 50px;
  background-color: #000;
  color: #FFF;
  border: 2px solid #333533;
  margin-top: 10px;
  font-size: 2.5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); 
}

.operators {
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
  padding: 10px 10px;
  width: 90%;
  height: 10%;
}

.other_operators {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px 10px;
  width: 21%;
  height: 110%;
}

.digits_operators_container {
  width: 90%;
  display: flex;
}

.digits {
  width: 90%;
  height: 118%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center; 
  padding-right: 15px;
  justify-items: center; 
}

button {
  font-family: inherit;
  font-size: 1.5rem;
  width: 70px;
  height: 70px;
  display: block;
  border-radius: 50%;
  padding-top: 10px;
  background-color: #333533;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}


button:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.8);
}


button img {
  width: 35px;
  height: auto;
}

.equal_button {
  border-radius: 50px;
  height: 155px;
  background-color: #FB6F92;
}

.dot img {
  width: 10px;
  height: auto;
}

.digits button {
  padding-top: 0px;
}