@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display&display=swap');

:root {
  font-family: 'Wix Madefor Display', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  place-items: center;

}
